<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head">
        <title>Actualizar Sueldo</title>
    </head>
    <body>
        <div class="container-fluid m-5 contenedor">
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error!</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div class="container-fluid m-5 contenedor">
                <form class="formulario" th:action="@{/admin/modificarSueldo/__${periodista.id}__}" method="POST">
                    <input hidden th:value="${id}" name="id">
                    <div class="mb-3">
                        <label for="sueldoMensual" class="form-label">Sueldo Mensual</label>
                        <input type="number" class="form-control" name="sueldoMensual" placeholder="Actualizar sueldo">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Actualizar Sueldo</button>
                    </div>
                </form>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
